<h1 class="m-2">Stupid Coaching</h1>
<p class="m-2">Ask your coach anything:</p>
<div class="m-2">
<form action="answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
